<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header__title-wrapper">
            <h2 class="main-header__title">Mirel Mandrut</h2>
        </div>

        <div class="main-header__menu-wrapper">
            <ul class="main-header__menu">
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Skills</a>
                </li>
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Projects</a>
                </li>
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Open Source</a>
                </li>
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Blogs</a>
                </li>
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Achievents</a>
                </li>
                <li class="main-header__menu-item">
                    <a class="main-header__menu-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>