.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .presentation-wrapper-lft {
        flex-basis: 50%;

        .presentation-wrapper-header {
            margin-bottom: 6rem;

            &__title {
                color: $violet;
                font-size: 5.2rem;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 485 485' style='enable-background:new 0 0 485 485;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M382.5,69.429c-7.441,0-14.5,1.646-20.852,4.573c-4.309-23.218-24.7-40.859-49.148-40.859 c-7.68,0-14.958,1.744-21.467,4.852C285.641,16.205,265.932,0,242.5,0c-23.432,0-43.141,16.206-48.533,37.995 c-6.508-3.107-13.787-4.852-21.467-4.852c-27.57,0-50,22.43-50,50v122.222c-6.129-2.686-12.891-4.187-20-4.187 c-27.57,0-50,22.43-50,50V354c0,72.233,58.766,131,131,131h118c72.233,0,131-58.767,131-131V119.429 C432.5,91.858,410.07,69.429,382.5,69.429z M402.5,354c0,55.691-45.309,101-101,101h-118c-55.691,0-101-45.309-101-101V251.178 c0-11.028,8.972-20,20-20s20,8.972,20,20v80h30V83.143c0-11.028,8.972-20,20-20s20,8.972,20,20v158.035h30V50 c0-11.028,8.972-20,20-20c11.028,0,20,8.972,20,20v191.178h30V83.143c0-11.028,8.972-20,20-20s20,8.972,20,20v158.035h30v-121.75 c0-11.028,8.972-20,20-20s20,8.972,20,20V354z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                    width: 35px;
                    height: 35px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &__content {
                font-size: 2rem;
            }
        }
        .presentation-wrapper-icons {
            margin-bottom: 4rem;

            .presentation-wrapper-list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
    
                &__item {
                    margin-right: 2rem;
                }
    
                &__link {
                    text-decoration: none;

                    .icon {
                        font-size: 3rem;
                        opacity: 0.7;
                        height: 40px;
                        width: 40px;
                        border-radius: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            opacity: 1;
                        }
                    }
    
                    .fa-google {
                        color: $white;
                        background-color: $red;
                    }
    
                    .fa-instagram {
                        color: $white;
                        background-image: linear-gradient(to right, #ee1d23, #faaf18);
                    }
    
                    .fa-github {
                        color: $white;
                        background-color: $black;
                    }

                    .fa-linkedin {
                        color: $white;
                        background-color: $light-blue;
                    }

                    .fa-facebook {
                        color: $white;
                        background-color: $blue;
                    }
                }
            }
        }

        .cta-wrapper {
            
            .cta-1,
            .cta-2 {
                padding: 1.2rem 2rem;
                background-color: $violet;
                color: $white;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }

            .cta-1 {
                margin-right: 3rem;
            }

            .cta-2 {
                &__link {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
    .presentation-wrapper-rght {
        flex-basis: 40%;
        border: 4px solid $violet;
        border-radius: 0.3rem;
        padding: 2rem;
        min-height: 550px;

        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 10%;
            left: -25px;
            width: 40px;
            height: 40px;
            border-top: 4px solid $violet;
            border-left: 4px solid $violet;
            transform: translateY(-50%);
            transform: rotate(-45deg);
            background-color: $white;
        }

        .presentation-wrapper-image {
            text-align: center;
            width: 100%;

            .image {
                width: 100%;
                max-width: 300px;
            }
        }

        .presentation-wrapper-rght-content {
            padding: 2rem;

            &__location {
                font-size: 2rem;
            }

            &__name,
            &__surname,
            &__age  {
                display: block;
                font-size: 2rem;
            }

            &__age {
                margin-right: 1rem;
            }

            .presentation-wrapper-rght-age {
                display: flex;
                margin-bottom: 1rem;
                &__btn {
                    border: none;
                    background-color: $violet;
                    color: $white;
                    font-size: 1.3rem;
                    letter-spacing: 0.1rem;
                    border-radius: 0.2rem;
                    cursor: pointer;
                    margin-right: 1rem;
                    opacity: 0.8;
                    text-transform: uppercase;

                    &:hover {
                        opacity: 1;
                    }
                }

                &__btn-save {
                    border: none;
                    background-color: orangered;
                    color: $white;
                    font-size: 1.3rem;
                    letter-spacing: 0.1rem;
                    border-radius: 0.2rem;
                    cursor: pointer;
                    opacity: 0.8;
                    text-transform: uppercase;
                    display: none;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &__input {
                border: 1px solid $black;
                border-radius: 0.3rem;
                max-width: 2.5rem;
                padding: 0.7rem;
                text-align: center;
                display: none;

                &:focus {
                    box-shadow: 0 0 2px 2px $violet;
                    border: none;
                }
            }
        }

        .show-input {
            display: block;
        }

        .showSaveBtn {
            display: flex;
        }

        .error-age {
            color: $red;
            font-weight: bold;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            display: none;
        }
    }
}
